---
import Nav from './Nav.astro';
import { getSiteSettings } from '@/lib/content';

const site = await getSiteSettings();
---
<header>
  <div class="container nav-wrapper">
    <a class="nav-logo" href="/" aria-label={`${site.name} hjem`}>
      <img src="/images/logo.svg" alt={`${site.name} logo`} width="140" height="40" />
    </a>
    <Nav />
  </div>
</header>
